{{ form_start(form) }}
    <div id="form-errors">
        {{ form_errors(form) }}
    </div>

    <div class="form-floating mb-3">
        {{ form_widget(form.name, {
            'attr': {
                'class': 'form-control',
                'placeholder': 1,
            }
        }) }}
        {{ form_label(form.name) }}
        <div class="text-danger">
            {{ form_errors(form.name) }}
        </div>
    </div>

    <div class="form-floating mb-3">
        {{ form_widget(form.description, {
            'attr': {
                'class': 'form-control',
                'placeholder': 1,
            }
        }) }}
        {{ form_label(form.description) }}
        <div class="text-danger">
            {{ form_errors(form.description) }}
        </div>
    </div>

    <div class="form-floating mb-3">
        {{ form_widget(form.type, {
            'attr': {
                'class': 'form-control',
                'placeholder': 1,
            }
        }) }}
        {{ form_label(form.type) }}
        <div class="text-danger">
            {{ form_errors(form.type) }}
        </div>
    </div>

    <button class="btn btn-primary">{{ button_label|default('Сохранить') }}</button>

    {{ form_rest(form) }}
{{ form_end(form) }}
