{% extends 'base.html.twig' %}

{% block title %}Управление пользователем{% endblock %}

{% block body %}

    {{ include('header.html.twig') }}
    <div class="container" {{ stimulus_controller('user', {
        'switchUrl': path('app_admin_user_switch', { id: user.id }),
        'verifyUrl': path('app_admin_user_verify', { id: user.id }),
    }) }}>
        <div class="d-flex justify-content-center text-center mb-3">
            <p class="h2">Управление пользователем</p>
        </div>
        <div class="row mb-3">
            <div class="col-auto">
                <img class="rounded-circle" width="128" height="128" src="https://mc-heads.net/avatar/{{ user.username }}">
            </div>
            <div class="col d-flex flex-column">
                <a href="{{ path('app_concrete_profile', {id: user.id}) }}" class="text-dark text-decoration-none">
                    <span class="h3">{{ user.username }}</span>
                </a>
                <p>Дата регистрации: {{ user.registerDate|date('d.m.Y H:i:s') }}</p>
                <p>Почта: {{ user.email }}</p>
                <p id="verify-status">Статус почты:
                    {% if user.verified %}
                        <span class="text-success">подтверждена</span>
                    {% else %}
                        <span class="text-danger">не подтвержден</span>
                    {% endif %}
                </p>
                <p id="ban-status">Блокировка:
                    {% if user.isBanned %}
                        <span class="text-danger">забанен</span>
                    {% else %}
                        <span class="text-success">нет</span>
                    {% endif %}
                </p>
            </div>
            <div class="col rounded-3 mb-md-0 mb-3">
                <div class="p-4 text-center d-flex flex-column">
                    <p>Действия с аккаунтом</p>
                    <button class="btn btn-outline-primary mb-3">Добавить бейдж</button>
                    {% if not user.verified %}
                        <button {{ stimulus_action('user', 'verify')}} class="btn btn-outline-success mb-3">Подтвердить почту</button>
                    {% endif %}
                    {% if not user.isBanned %}
                        <button {{ stimulus_action('user', 'switchUserStatus') }} class="btn btn-outline-warning mb-3 {% if app.user.id == user.id %}disabled{% endif %}">Заблокировать</button>
                    {% else %}
                        <button class="btn btn-outline-success mb-3" {{ stimulus_action('user', 'switchUserStatus') }}>Разблокировать</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ include('footer.html.twig') }}

{% endblock %}